@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
:root {
  --primaryColor: #41b3a3;
  --secondaryColor: #fff;
}

.cotainer {
  width: 1360px;
  background-color: var(--primaryColor);
  margin: 0 auto;
  height: 100vh;
}
