@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

@font-face {
  font-family: "urdu";
  src: url(urduFonts/Attari_Font.ttf);
}
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif !important;
}
:root {
  --primaryColor: #5cdb95;
  --secondaryColor: #05386b;
  --fontsColor: #fff;
}
body {
  background-color: var(--primaryColor);
}

.cotainer {
  width: 1340px;
  margin: 0 auto;
  padding: 40px 50px 0;
  height: auto;
}
.navContainer > div {
  display: flex;
  align-items: center;
  gap: 15px;
}
.navContainer img {
  width: 60px;
  height: 60px;
}
.navContainer h1 {
  font-size: 2.5em;
  color: var(--secondaryColor);
  font-weight: 600;
}

/* <!-- Heading --> */

.headerContainer {
  display: flex;
  margin: 0 0 50px;
  height: auto;
  justify-content: space-between;
}
.leftSection {
  display: flex;
  gap: 50px;
  align-items: center;
}
.leftSection img {
  width: 200px;
  height: 200px;
}
.inputClass {
  position: relative;
}
.inputClass img {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 4px;
  bottom: 4px;
}
.leftSection h1 {
  color: var(--secondaryColor);
  font-size: 3em;
}
.leftSection input {
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  font-size: 1.5em;
  border-radius: 5px;
  margin-top: 20px;
  color: var(--secondaryColor);
}
.leftSection input[type="Text"]::placeholder {
  font-family: "urdu";
  color: var(--secondaryColor);
  text-align: right;
  word-spacing: 10px;
}

/* Text Editor */
.editorContainer {
  /* position: relative; */
  width: 80%;
  min-height: 400px;
  height: auto;
  background-color: var(--fontsColor);
  margin: 10px auto;
  border-radius: 10px;
  box-shadow: 0px 0px 30px -18px rgba(5, 56, 107, 1);
  overflow: hidden;
  padding-top: 10px;
}
.ql-container {
  height: auto !important;
}
.ql-container.ql-snow {
  border: none;
}
.ql-toolbar.ql-snow {
  border: none;
}
.ql-editor.ql-blank::before {
  font-style: normal;
  font-size: large;
}
#publishBtn {
  padding: 15px 10px;
  width: 180px;
  border-radius: 5px;
  background-color: var(--secondaryColor);
  margin: 25px auto;
  color: var(--fontsColor);
  cursor: pointer;
  font-size: 1.2em;
  font-weight: 600;
  letter-spacing: 2px;
  transition: all 0.5s linear;
  border: 1px solid var(--primaryColor);
  display: flex;
  justify-content: center;
}
#publishBtn:hover {
  background-color: var(--primaryColor);
  border: 1px solid var(--secondaryColor);
  color: var(--secondaryColor);
}

.rightSection {
  width: 35%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 22px 0px rgba(5, 56, 107, 1);
  user-select: none;
}

.imgBox img {
  width: 100%;
  border-radius: 10px;
}
.quote {
  padding: 10px;
  color: var(--secondaryColor);
  text-align: center;
  word-wrap: break-word;
}
.quote p {
  margin-top: 10px;
  text-align: justify;
}

#postContainer {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
  margin: 50px auto;
  gap: 45px;
}

#postContainer .rightSection {
  width: 25%;
}

.form-outline {
  position: relative;
}

.postImg #postImg {
  display: none;
}
.postImg #imgLable {
  position: absolute;
  top: 43px;
  right: 38%;
  cursor: pointer;
}
.postImg #imgLable img {
  object-fit: contain;
  cursor: no-drop;
}

/* Sign Up */
.cotainer {
  color: var(--secondaryColor);
}
.title {
  font-size: 1.5em;
  padding-left: 13%;
}

.singUpContainer {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  padding-top: 35px;
}
.signUp {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 30%;
}
.signUp label {
  position: relative;
}
.signUp label img {
  width: 27px;
  position: absolute;
  top: 26px;
}
.signUp input {
  padding: 10px 35px;
  border: none;
  border-bottom: 2px solid var(--secondaryColor);
  background-color: transparent;
  outline: none;
  font-size: 1.5em;
}
.signUp input::placeholder {
  color: var(--secondaryColor);
  opacity: 0.5;
}
.signUp div {
  user-select: none;
}
.signUpImg {
  width: 30%;
  text-align: center;
}

.signUpImg img {
  width: 300px;
}
.signUpImg p {
  text-decoration: underline;
  font-weight: 600;
  letter-spacing: 1px;
  cursor: pointer;
  user-select: none;
  margin-top: 90px;
}
