@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

@font-face {
  font-family: "urdu";
  src: url(urduFonts/Attari_Font.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif !important;
}
:root {
  --primaryColor: #5cdb95;
  --secondaryColor: #05386b;
  --fontsColor: #fff;
}
body {
  background-color: var(--primaryColor);
}

.cotainer {
  width: 1360px;
  margin: 0 auto;
  padding: 40px 50px;
  height: auto;
}
.navContainer > div {
  display: flex;
  align-items: center;
  gap: 15px;
}
.navContainer img {
  width: 60px;
  height: 60px;
}
.navContainer h1 {
  font-size: 2.5em;
  color: var(--secondaryColor);
  font-weight: 600;
}

.headerContainer {
  display: flex;
  width: 60%;
  margin: 40px auto;
  gap: 50px;
  align-items: center;
}

.headerContainer img {
  width: 200px;
  height: 200px;
}
.headerContainer h1 {
  color: var(--secondaryColor);
  font-size: 3em;
}
.headerContainer input {
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  font-size: 1.5em;
  border-radius: 5px;
  margin-top: 20px;
  color: var(--secondaryColor);
}
.headerContainer input[type="Text"]::placeholder {
  font-family: "urdu";
  color: var(--secondaryColor);
  text-align: right;
  word-spacing: 10px;
}

/* Text Editor */
.editorContainer {
  width: 50%;
  background-color: var(--fontsColor);
}
